body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formContainer {
    width: 300px;
    padding: 16px;
    background-color: var(--tertiary-color);
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background: var(--tertiary-color);
    color: var(--text-color);
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    background-color: var(--secondary-color);
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}